.App {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: flex-start;
}

.note {
  position: absolute;
  background-color: #ef9f00;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #ccc;
  z-index: 1;
}

.note-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  background-color: #f7f7f7;
  border-radius: 5px 5px 0 0;
  cursor: move;
}

.note-title {
  font-weight: bold;
  font-size: 16px;
}

.note-delete {
  cursor: pointer;
}

.note-body {
  padding: 10px;
}

.trash-zone {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: red;
}